*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
body{
    font-family: 'Open Sans', sans-serif;
}
p{
    font-size: 14px;
    line-height: 24px;
    color: #7e8287;
}
h2{
    color: #02918c;
    font-size: 46px;
    font-weight: 800;
    text-transform: uppercase;
}
h3{
    font-size: 16px;
    color: #7e8287;
    font-weight: 800;
}
h1,h2,h3,h4,h5,h6,p,span{
    margin: 0;
    padding: 0;
}
.section_header span{
    color: #7e8287;
    font-weight: 800;
    font-size: 23px;
}

/* slider arrows */
.banner_arrow_left,
.banner_arrow_right{
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #02918c;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}
.banner_arrow_left{
    left: 0;
}
.banner_arrow_right{
    right: 0;
}

/* menu css */
.custom_nav{
    background: #02918c;
    position: relative;
    width: 100%;
}
.custom_nav i{
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #000;
    cursor: pointer;
    margin: 0 7px;
    text-align: center;
}
#menu ul li a{
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    padding: 15px 25px;
}
.menu_fixed{
    position: fixed;
    top: 0;
    z-index: 999;
}

/* banner css  */
.banner_items{
    height: 700px;
    background-size: cover!important;
    background-position: center!important;
    position: relative;
    z-index: 1;
}
.banner_items:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: -1;
}
.banner_content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.banner_content h1{
    font-size: 68px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 25px;
}
.banner_content h4{
    font-size: 30px;
    color: #ffffff;
    line-height: 25px;
}
.banner_content p{
    font-size: 18px;
    color: #fff;
}
.banner_content img{
    display: inline-block;
    padding: 50px 0;
}
.banner_content a{
    font-weight: 800;
    font-size: 14px;
    color: #0b1016;
    background: #cfc91d;
    padding: 18px 40px;
}

/* about css  */
#about{
    padding: 90px 0 100px 0;
}
#about .section_header{
    margin-bottom: 50px;
}
#about .section_header h2{
    padding-bottom: 12px;
}
#about .section_header p{
    padding: 20px;
    line-height: 40px;
}
.about_items{
    text-align: center;
    padding: 35px 0 45px 0;
}
.about_items i{
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #02918c;
    margin-bottom: 12px;
}
.about_items h3{
    padding-bottom: 25px;
}
.about_items_border{
    border-right: 1px solid #d9dbdb;
}
.about_items_border:last-child{
    border-right: none;
}

/* services css  */
#services{
    padding: 60px 0;
    background: url(../Images/services-bg.jpg);
    background-position: center;
    background-size: cover;
}
#services .section_header{
    margin-bottom: 45px;
}
#services .section_header h2{
    padding-bottom: 22px;
}
#services .section_header p{
    padding-top: 10px;
    line-height: 40px;
}
.servcie_items{
    padding-bottom: 40px;
}
.servcie_items i{
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #02918c;
}
.servcie_items h3{
    padding-bottom: 10px;
}

/* my work css */
#my_work{
    padding-top: 100px;
}
#my_work h2{
    padding-bottom: 12px;
}
#my_work p{
    line-height: 40px;
    padding: 12px 0;
}
.filter_menu ul{
    text-align: center;
    margin: 30px 0 25px  0;
}
.filter_menu ul li{
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}
.filter_menu ul li.active{
    background-color: #d9dbdb;
    color: #000;
}
.work_items{
    position: relative;
}
.work_items img{
    width: 100%;
    height: 240px;
}
.overly{
    padding: 50px 30px;
}
.overly h3{
    color: #ffffff;
    text-align: center;
}
#my_work .overly p{
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
.work_items .overly{
    position: absolute;
    top: 20px;
    left: 30px;
    right: 30px;
    bottom: 20px;
    background: rgba(13, 132, 129, .8);
    transform: scalex(0);
    transition: transform .8s ease-in-out;
    transform-origin: right;
}
.work_items:hover .overly{
    transform: scalex(1);
    transition: transform .8s ease-in-out;
    transform-origin: left;
}

/*contact header css*/
#contact_header{
    padding: 90px 0 60px 0;
}
#contact_header .section_header img{
    padding: 25px 0;
}

/*contact css */
#contact{
    padding: 40px 0 70px 0;
    background-color: #222;
}
#contact input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    margin-bottom: 30px;
    text-align: center;
    height: 60px;
    padding-top: 10px;
}
#contact .mail input{
    height: 60px;
}
#contact textarea{
    resize: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    margin-top: 10px;
    text-align: center;
    height: 90px;
    border-top: 1px solid #fff;
}
#contact label{
    display: block;
    text-align: center;
    color: #7e8287;
}
#contact button{
    font-weight: 800;
    font-size: 14px;
    color: #0b1016;
    background-color: #cfc91d;
    border: none;
    margin-top: 70px;
    padding: 12px 32px;
}

/*bottom footer css*/
#footer{
    background-color: #000000;
}
#footer .content p{
    font-size: 12px;
    color: #7e8287;
    line-height: 41px;
    padding: 15px 0;
}

/*Scroll css*/
.scroll{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #d9dbdb;
    position: fixed;
    right: 20px;
    bottom: 20px;
    transform: translatex(-50%);
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    display: none;
}
.scroll a{
    color: #02918c;
}